.root {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.panel-principal {
    -fx-background-color: #3498db;
    -fx-font-weight: bold;
}

.boton-clotho {
    -fx-background-color: #2c3e50;
    -fx-background-insets: 0, 2px;
    -fx-background-radius: 5px, 4px;
    -fx-text-fill: white;
}

.boton-clotho:hover {
    -fx-background-color: #2c3e50, #de569f;
}

.check-clotho:selected .box {
	-fx-background-color: #2c3e50, #de569f;
	-fx-background-insets: 0, 1px;
	-fx-text-fill: white;
}

.check-clotho:selected > .text {
    -fx-fill: white; 
}

.tabla-clotho {
    -fx-control-inner-background: #bdc3c7;
}

.resumen-dia {
	-fx-background-color: #bdc3c7;
	-fx-background-insets: 2px, 2px;
    -fx-background-radius: 5px, 4px;
	-fx-alignment: center;
}

.cabecera-dia {
}

.resumen-selecionado {
    -fx-background-color: #de569f;
	-fx-background-insets: 2px, 2px;
    -fx-background-radius: 5px, 4px;
	-fx-alignment: center;
}