<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://10.11.178.14:3306/Mapa_Mundi</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
        
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="connection.username">root</property>
        <property name="connection.password">mysql_123</property>
        
        <!-- DB schema will be updated if needed -->
        <!-- Para crear una base de datos cambios los valores de none, false,false a create, true, true-->
        <!-- Para realizar consultas a una base de datos cambios los valores de create, true, true a none, false, false-->
        <property name="hbm2ddl.auto">none</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property> 
        
        <mapping class="org.lapaloma.aadd.concesionario.vo.Continente"></mapping>
        <mapping class="org.lapaloma.aadd.concesionario.vo.Pais"></mapping>
        
    </session-factory>
</hibernate-configuration>